/* label color */
.input-field label {
    color: $template_blue;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: $template_blue;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid $template_blue;
    box-shadow: 0 1px 0 0 $template_blue;
}

.progress {
    background-color: rgba($template_blue, 0.7);
    .indeterminate {
        background-color: $template_blue;
    }
}
