<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="seller" type="text" class="validate" ng-model="sellerAddress">
                <label for="seller" ng-class="{'active': sellerAddress}">Seller's Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="amount" type="text" class="validate" ng-model="etherAmount">
                <label for="amount" ng-class="{'active': etherAmount}">Amount (in ETH)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="details" class="materialize-textarea" ng-model="memo"></textarea>
                <label for="details" ng-class="{'active': memo}">Memo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" placeholder="Encryption Password" ng-model="encKeySecret" id="encrytionPassword"/>
                <label for="encrytionPassword" ng-class="{'active': encKeySecret}">Encryption Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                 <div class="preloader-wrapper active" ng-show="inprogress">
                     <div class="spinner-layer spinner-blue-only">
                         <div class="circle-clipper left">
                             <div class="circle"></div>
                         </div>
                     </div>
                 </div>
                <button class="btn btn-large waves-effect waves-light" ng-click="sendContract()" ng-hide="inprogress">Send Contract</button>
            </div>
        </div>
    </form>
</div>
