<h2 class="header">Signup</h2>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12" ng-class="{'has-error': email.valid === false}">
                <input type="email" class="validate" id="email" ng-model="email.value">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12" ng-class="{'has-error': loginPassword.valid === false}">
                <input type="password" class="validate" ng-model="loginPassword.value" id="loginPassword">
                <label for="loginPassword">Password for authentication</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input type="text" class="validate" value="" ng-model="seed" id="seed">
                <label for="seed" ng-class="{'active': seed}">12 word seed</label>
            </div>
            <div class="input-field col s4">
                <input type="checkbox" id="randomSeed" value="option1" aria-label="..." ng-model="randomizeSeedOption" ng-change="randomizeSeed()">
                <label for="randomSeed">Randomly generate</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12" ng-class="{'has-error': encPassword.valid === false}">
                <input type="password" class="validate" ng-model="encPassword.value" id="encryptionPassword">
                <label for="encryptionPassword">Encryption Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled type="text" id="address" class="value" ng-model="address" ng-show="address">
                <label for="address" class="active">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6" ng-hide="address">
                <button type="submit" class="btn btn-default" ng-click="signup()">Signup</button>
            </div>
            <div class="input-field col s6" ng-show="address">
                <a class="btn waves-effect waves-light" ng-href="#/"><i class="material-icons left">input</i>Proceed</a>
            </div>
        </div>
    </form>
</div>
