<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Compiled and minified CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->


    <script type="text/javascript">
      window.appName = "EscrowRaj1";
      window.apiURL = "http://hacknet.blockapps.net";
      window.metaDest = "../frontend/contracts";
      window.developer =  "team5";
      window.email = "prashantpawar@gmail.com";
    </script>
  </head>
  <body ng-app="EscrowRajApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="site-nav lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#/" class="brand-logo center">EscrowRaj</a>
            <ul class="left hide-on-med-and-down">
                <li><a ng-href="#/seller">Seller</a></li>
                <li><a ng-href="#/buyer">Buyer</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li class="login-link" ng-hide="authenticated"><a ng-href="#/login">Login</a></li>
                <li class="signup-link" ng-hide="authenticated"><a ng-href="#/signup">Signup</a></li>
                <li class="balance" ng-show="authenticated">{{accountBalance}}</li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a ng-href="#/seller">Seller</a></li>
                <li><a ng-href="#/buyer">Buyer</a></li>
                <li class="login-link" ng-hide="authenticated"><a ng-href="#/login">Login</a></li>
                <li class="signup-link" ng-hide="authenticated"><a ng-href="#/signup">Signup</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        <div class="section" ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bignumber.js/bignumber.js"></script>
    <script src="bower_components/crypto-js/index.js"></script>
    <script src="bower_components/web3/dist/web3.js"></script>
    <script src="bower_components/blockapps-js/api.js"></script>
    <!-- endbuild -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>


    <!-- stolen from blockapps -->
    <script src="http://hacknet.blockapps.net/static/ethlightjs.min.js"></script>
    <script src="http://hacknet.blockapps.net/static/js/userLogin.js"></script>
    <script src="http://hacknet.blockapps.net/static/js/createUser.js"></script>
    <!-- end stolen goods -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/buyer.js"></script>
    <script src="scripts/controllers/seller.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/escrow.js"></script>
    <script src="scripts/controllers/contract.js"></script>
    <script src="/contracts/EscrowRaj.js"></script>
    <!-- endbuild -->
</body>
</html>
